# Virtual Environment
venv-semantic-search-poc/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
.vscode/
*.swp

# Environment variables
.env
.env.local

# OS
.DS_Store

# Logs
*.log

# Large files
universe_reference_data.json